.container{
    display: grid;
    grid-template-columns: auto auto;
}
.gridLateral{
    background-color: black;
}
.gridCentral{
    margin-top: 20%;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.alinhamentoTituloCentral{
    text-align: center;
}
.menuLateral{
    display: inline-block;
    background-color: black;
    width: 30%;
}
.menuCentral{
    display: inline-block;
    background-color: pink;
    width: 70;
    height: 500px;      
}
.fonteNome{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.imagem{
    border-radius: 60%;
    height: 300px;
    margin-left: 28%;
    margin-top: 15%;
}
.fonteCargo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}
.fonteSkill{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    font-size: 30px;
    font-weight: bold;
}
.fonteHabilidades{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 7%;
}
.ponto{
    font-size: 50px;
    color: blue;
}
.pontoCinza{
    font-size: 50px;
    color: gray;
}
.fonteMenuCentral{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}