.menuLateral{
    display: inline-block;
    background-color: orange;
    width: 20%;
    height: 1000px;
}
.principal{
    display: inline-block;
    background-color: aqua;
    width: 60%;
    height: 1000px;
}
.arquivo{
    display: inline-block;
    background-color: blue;
    width: 20%;
    height: 1000px;
}